.bg-container {
  height: 100vh;
  background-color: #07080c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  height: 200px;
  width: 200px;
}
.heading {
  font-size: 30px;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: bold;
}
.para {
  font-size: 15px;
  color: #cbd5e1;
  font-family: 'Roboto';
}
.count-heading {
  font-size: 25px;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: bold;
}
.accelerate {
  background-color: #0b69ff;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  outline: none;
}
.apply-breaks {
  background-color: transparent;
  color: #94a3b8;
  border: 1px solid #94a3b8;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  margin-left: 20px;
}
