.bg-container {
  background-color: #07080c;
  padding: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-family: 'Roboto';
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
}
.image {
  height: 200px;
  width: 500px;
}
.speed-counter {
  font-family: 'Roboto';
  font-size: 23px;
  color: #ffffff;
}
.para {
  font-family: 'Roboto';
  font-size: 13px;
  color: #cbd5e1;
}
.accelerate-button {
  border-width: 0px;
  background-color: #0b69ff;
  color: #ffffff;
  padding: 10px;
  border-radius: 7px;
}
.break-button {
  border-width: 0px;
  background-color: transparent;
  color: #94a3b8;
  border: 1px solid #94a3b8;
  padding: 10px;
  border-radius: 7px;
  margin-left: 10px;
}

@media screen and (max-width: 576px) {
  .image {
    height: 200px;
    width: 250px;
  }
}
